pkgs=(z3.lib llvmPackages_20.llvm)
pkgs+=(cargo rustc rust-analyzer rustfmt clippy)

linux && pkgs+=(stdenv.cc.cc.lib rdma-core liburing vulkan-loader ocl-icd)
linux && pkgs+=(vulkan-tools shaderc spirv-tools clinfo)
linux && pkgs+=(llvmPackages_20.clang llvmPackages_20.clang-tools llvmPackages_20.bintools llvmPackages_20.lldb)

tiny || pkgs+=(python314)

use nix -p "${pkgs[@]}"

layout python

path_add PYTHONPATH "$PWD"

export CC=clang
darwin && export LLDB_DEBUGSERVER_PATH="/Applications/Xcode.app/Contents/SharedFrameworks/LLDB.framework/Versions/A/Resources/debugserver"
linux && export VK_ADD_LAYER_PATH="$(nix build --no-link --print-out-paths nixpkgs\#vulkan-validation-layers)/share/vulkan/explicit_layer.d"
