pkgs=(z3.lib llvmPackages.llvm)
pkgs+=(cargo rustc rust-analyzer rustfmt clippy)

linux && pkgs+=(stdenv.cc.cc.lib rdma-core liburing vulkan-loader ocl-icd)
linux && pkgs+=(vulkan-tools spirv-tools spirv-llvm-translator glslang clinfo)
linux && pkgs+=(llvmPackages.clang llvmPackages.clang-tools llvmPackages.bintools llvmPackages.lldb)

tiny || pkgs+=(
  python312
  python312Packages.ruff
  python312Packages.mypy
  python312Packages.python-lsp-server
  python312Packages.pylsp-mypy
  python312Packages.python-lsp-ruff
)

use nix -p "${pkgs[@]}"

layout python

path_add PYTHONPATH "$PWD"
linux && path_add PATH "$PWD/../clspv/build/bin"

export CC=clang
darwin && export LLDB_DEBUGSERVER_PATH="/Applications/Xcode.app/Contents/SharedFrameworks/LLDB.framework/Versions/A/Resources/debugserver"

linux && export VK_ADD_LAYER_PATH="$(nix build --no-link --print-out-paths nixpkgs\#vulkan-validation-layers)/share/vulkan/explicit_layer.d"
linux && export VK_LOADER_LAYERS_ENABLE=VK_LAYER_KHRONOS_validation
linux && export VK_LAYER_ENABLES=VK_VALIDATION_FEATURE_ENABLE_BEST_PRACTICES_EXT:VK_VALIDATION_FEATURE_ENABLE_SYNCHRONIZATION_VALIDATION_EXT:VK_VALIDATION_FEATURE_ENABLE_GPU_ASSISTED_EXT
