if ! hostname | grep -q tiny; then
  pkgs=(z3.lib llvmPackages_21.llvm rdma-core liburing vulkan-loader)
  pkgs+=(spirv-tools spirv-llvm-translator glslang llvmPackages_21.clang llvmPackages_21.clang-tools llvmPackages_21.bintools llvmPackages_21.lldb)
  pkgs+=(cargo rustc rust-analyzer rustfmt clippy)
  pkgs+=(python312 python312Packages.ruff python312Packages.mypy python312Packages.python-lsp-server python312Packages.pylsp-mypy python312Packages.python-lsp-ruff)

  use nix -p "${pkgs[@]}"
fi

layout python

export CC=clang
export PYTHONPATH=$PWD${PYTHONPATH:+:$PYTHONPATH}

collect_nix_ldpaths() {
  printf '%s\n' "${NIX_LDFLAGS_FOR_TARGET:-} ${NIX_LDFLAGS:-} ${LDFLAGS:-}" \
    | tr ' ' '\n' \
    | awk '/^-L/ {print substr($0,3)}' \
    | awk '!seen[$0]++' \
    | while IFS= read -r d; do
        [ -d "$d" ] && printf '%s\n' "$d"
      done \
    | paste -sd: -
}

case "$(uname -s)" in
  Linux)
    export LD_LIBRARY_PATH="$(collect_nix_ldpaths)"
    ;;
  Darwin)
    export LLDB_DEBUGSERVER_PATH=/Applications/Xcode.app/Contents/SharedFrameworks/LLDB.framework/Versions/A/Resources/debugserver
    ;;
esac
